/* GENERAL STYLING WITHIN INDEX CSS */

select, input {
  margin: 1rem;
}

a, link {
  margin: 1rem;
  color: white;
  text-decoration: none;
}
.homepage {
  background-color: #ec4646;
  color: white;
}
.logo {
  width: 10rem;
}