/* GENERAL STYLING WITHIN INDEX CSS */

select, input, label {
  margin: 1rem;
}

a, link {
  margin: 1rem;
  color: white;
  text-decoration: none;
}
.homepage {
  color: white;
  height: 100%;
}
.logo {
  width: 10rem;
}
form {
  border: 1rem ridge white;
  padding: 3rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  display: block;
  text-align: center;
  border: .5rem ridge white;
  font-size: 2rem;
  color: #252525;
  padding: .5rem;
  border-radius: 1.5rem;
}